<html>
  <head>
    <link rel="stylesheet" href="resources/style.css">
    <meta charset="utf-8">
  </head>
  <body>

    <!-- Auteurs -->
    <div class="authors">
      <b>UQAC INF846 - 2018</b><br>
      <a href="https://github.com/lowlighter/uqac/tree/master/ai/3">GitHub</a><br>
      Bondue Emeric<br>
      Joucla Louis-Quentin<br>
      Lecoq Simon<br>
    </div>

    <!-- Rendu -->
    <div id="app">
      <template>
      <!-- Actions de l'agent -->
      <div class="debugger agent"><div class="name">Agent<div class="score">/ Score : {{ environment.score }} ({{ `${environment.score-environment.previous_score>=0?"+":""}${environment.score-environment.previous_score}` }})</div></div><div v-for="log in debug.agent.logs" v-bind:class="{[log.type]:true}">{{ log.text }}</div></div>
      
      <!-- Environnement (affichage) -->
        <main>
          <div class="wrapper" v-bind:style="{maxWidth:window.innerWidth-(window.innerWidth > 700)*330-(window.innerWidth > 1040)*330}">
            <div class="environment" v-bind:style="{width:(environment.width+2)*50, height:(environment.height+2)*50}">
              <div class="tree lateral"></div>
              <div class="fogwar" onclick="$.DEBUG.FOGWAR = !$.DEBUG.FOGWAR"><input type="checkbox" v-bind:checked="$.DEBUG.FOGWAR">Brouillard de guerre</div>
              <div>
                <div class="tree"></div>
                <div v-for="y in environment.height" class="row">
                    <div v-for="x in environment.width" class="square" v-bind:class="cell_class(x, y)">
                      {{ (!$.DEBUG.FOGWAR)||(environment.map[x-1][y-1].has($.CELL.AGENT))||(environment.agent.knowledge_base.facts[[x-1, y-1]].has($.CELL.EXPLORED))||(environment.agent.knowledge_base.facts[[x-1, y-1]].has($.CELL.MONSTER))||(environment.agent.knowledge_base.facts[[x-1, y-1]].has($.CELL.HOLE)) ? [...environment.map[x-1][y-1]].join("") : "" }}
                      <div class="square-name">{{ `${x-1},${y-1}` }}</div>
                    </div>
                  </div>
                <div class="tree"></div>
              </div>
              <div class="tree lateral"></div>
            </div>
          </div>
          <span class="info">Appuyez sur la touche <b>i</b> pour que l'agent effectue la prochaine itération de sa routine.</span>
        </main>
    
      <!-- Base de connaissance -->
      <div class="debugger knowledge" ><div class="name">Base de connaissances</div><div v-for="(facts, cell) in environment.agent.knowledge_base.facts">{{ `${cell}: [${[...facts].join(", ")}]` }}</div></div>
      
      </template>
    </div>

    <!-- Code source -->
    <script src="resources/debug.js"></script>
    <script src="resources/vue.js"></script>
    <script src="resources/miscelleanous.js"></script>
    <script src="sources/agent.sensors.js"></script>
    <script src="sources/agent.effectors.js"></script>
    <script src="sources/knowledge_base.js"></script>
    <script src="sources/rule.js"></script>
    <script src="sources/rule_base.js"></script>
    <script src="sources/agent.js"></script>
    <script src="sources/environment.js"></script>
    <script src="sources/app.js"></script>
    

  </body>
</html>